.App {
  display: grid;
  grid-template-rows: 10vh 83vh 7vh;
  grid-template-areas: "header" "content" "footer";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
