:root {
  --bege: #fffbef;
  --preto: #101010;
  --laranja: #f9ae48;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}
